<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/Libraries/Semantic-UI-2.1.4/dist/semantic.min.css" />
    <link rel="stylesheet" href="Styles/Font_StyleSheet.css" />
</head>
<body>
    
    
    <div class="Lab_Font20">다람쥐123 abc</div>
    <div class="Lab_Font40">다람쥐123 abc</div>
    <div class="Lab_Font60">다람쥐123 abc</div>
    <div class="Lab_Font_Heavy">다람쥐123 abc</div>
    
    
</body>
</html>
